
* {
    box-sizing: border-box;
}
body {
    background: #e6f4fd;
    font-family: 'Roboto', sans-serif;
}

.product-item {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    font-family: "Open Sans";
    transition: .3s ease-in;
}

.product-item:hover {
    border-bottom: 2px solid #fc5a5a;
}

.product-item img {
    display: block;
    width: 100%;
}

.product-list {
    background: #fafafa;
    padding: 15px 0;
}

.product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 10px 0;
}

.price {
    font-size: 16px;
    color: #fc5a5a;
    display: inline-block;
    margin-bottom: 12px;
}

.myButton input[type="checkbox"]{
    visibility: hidden;
}
.myButton label span {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
    cursor:pointer;
}
.myButton label span:after {
    content:"Add to cart";
}
.myButton input[type="checkbox"]:checked ~ label span:after {
    content:"Remove";
}
.myButton input[type="checkbox"]:checked ~ label span {
    color:red;
}
.buttonCart input[type="submit"]{
    position: absolute;
    top: 1px;
    right: 90px;
    background:white;
    border-width: 0;
    display: block;
    color: #131313;
    font-size: 15px;
    padding: 14px 20px;
}
.buttonCart input:hover{
    background-color: #1abc9c;
    color: #131313;
    cursor: pointer;
}
