<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/forms.css}"/>
</head>
<body>
<form th:action="@{/addProduct}" th:object="${product}" method="post" class="ui-form">
    <h3>New Product</h3>
    <div class="form-row">
        <input type="text" th:field="*{brand}" required autocomplete="off" id="brand"><label for="brand">Brand </label>
    </div>
    <div class="form-row">
        <input type="text" th:field="*{name}" required autocomplete="off" id="name"><label for="name">Name </label>
    </div>
    <div class="form-row">
        <input type="number" th:field="*{price}" required autocomplete="off" id="price"><label
            for="price">Price </label>
    </div>
    <div class="form-row">
        <textarea th:field="*{description}" placeholder="Description..." id="description"></textarea>
    </div>
    <div class="form-row">
        <select th:name="subCategoryID">
            <option disabled>Choose Category</option>
            <option th:each="subCategory: ${subCategories}"
                    th:text="${subCategory.name}"
                    th:value="${subCategory.id}">
            </option>
        </select>
    </div>
    <input type="submit" value="Save">
</form>

</body>
</html>