<!DOCTYPE html>
<html th:lang="${lang}" th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/resources/js/jquery-3.2.1.min.js"></script>
    <script src="/resources/js/jsLogic.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/forms.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/navBar.css}">
</head>
<body>
<div th:insert="startPage :: bar"></div>
<form th:each="category :${categories}"
      th:action="@{/admin/addSubCategory}" method="post"
      th:object="${subcategory}">
    <div class="section">
        <ul><p th:text="${category.name}" class="paragraph"></p>
            <li th:each="subcat :${subcategories}" th:if="${subcat.category.id==category.id}">
                <span th:text="${subcat.name}"></span>
            </li>
        </ul>
        <label for="subcategory" th:text="#{admin.subCategory}"></label>
        <input type="text" th:field="*{name}" id="subcategory">
        <input type="text" th:name="id" th:value="${category.id}" hidden>
        <input type="submit" th:value="#{add}">
    </div>
</form>
<form class="delete-section" th:action="@{/admin/deleteSubCategory}" method="post">
    <p class="paragraph" th:text="#{admin.deleteSubcategory}"></p>
    <select th:name="id">
        <option th:each="subcat : ${subcategories}"
                th:text="${subcat.name}"
                th:value="${subcat.id}">
        </option>
    </select>
    <input type="submit" th:value="#{delete}">
</form>
<form class="delete-section2" th:action="@{/admin/deleteCategory}" method="post">
    <p class="paragraph" th:text="#{admin.deleteCategory}"></p>
    <select th:name="id">
        <option th:each="cat : ${categories}"
                th:text="${cat.name}"
                th:value="${cat.id}">
        </option>
    </select>
    <input type="submit" th:value="#{delete}">
</form>


<form class="add-section" th:action="@{/admin/addCategory}" method="post" th:object="${category}">
    <p class="paragraph" th:text="#{admin.addCategory}"></p>
    <label for="category-form-name" th:text="#{admin.newCategory}"></label>
    <input type="text" th:field="*{name}" id="category-form-name">
    <input type="submit" onclick="successfullyAdded()" th:value="#{add}">
</form>
</body>
</html>