<!DOCTYPE html>
<html th:lang="${lang}" th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/information.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/orderedProducts.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navBar.css}">
</head>
<body>
<div th:insert="startPage :: bar"></div>
<div class="item" th:if="${contact.anotherAddress==false}">
    <div class="heading">
        <h1 th:text="#{contactInformation}"></h1>
    </div>
    <p>Name:<span th:text="${order.user.name}"></span></p>
    <p>Surname:<span th:text="${order.user.surname}"></span></p>
    <p>City:<span th:text="${contact.homeAddress.city}"></span></p>
    <p>Street:<span th:text="${contact.homeAddress.street}"></span></p>
    <p>Number of house:<span th:text="${contact.homeAddress.house}"></span></p>
    <p>Number of flat:<span th:text="${contact.homeAddress.number}"></span></p>
    <p>Email:<span th:text="${contact.email}"></span></p>
    <p>Telephone:<span th:text="${contact.telephone}"></span></p>
</div>
<div class="item" th:if="${contact.anotherAddress==true}">
    <div class="heading">
        <h1 th:text="#{contactInformation}"></h1>
    </div>
    <p>Name:<span th:text="${order.user.name}"></span></p>
    <p>Surname:<span th:text="${order.user.surname}"></span></p>
    <p>City:<span th:text="${contact.otherAddress.city}"></span></p>
    <p>Street:<span th:text="${contact.otherAddress.street}"></span></p>
    <p>Number of house:<span th:text="${contact.otherAddress.house}"></span></p>
    <p>Number of flat:<span th:text="${contact.otherAddress.number}"></span></p>
    <p>Email:<span th:text="${contact.email}"></span></p>
    <p>Telephone:<span th:text="${contact.telephone}"></span></p>
</div>
<h2 th:text="#{products}"></h2>
<div class="product-item" th:each="product : ${products}">
    <p>Product: <a th:text="${product.name}" th:href="@{/product/{id}(id=${product.id})}"></a ></p>
    <p class="price">Price: <span th:text="${product.price}"></span >$</p>
    <p>Seller: <a th:text="${product.seller.name}" th:href="@{/seller/{id}(id=${product.seller.id})}"></a ></p>
    <div th:each="basket :${baskets}">
        <div th:if="${basket.productID==product.id}">
            <p>Count: <span th:text="${basket.count}"></span></p>
        </div>
    </div>
</div>
<p>Total amount of order is: <span th:text="${order.totalAmount}"></span></p>
</body>
</html>