<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/forms.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/navBar.css}">
</head>
<body>
<div th:insert="startPage :: bar"></div>
<form th:action="@{/saveDetails}" method="post" th:object="${address}" class="ui-form">
    <h3 th:text="#{editInformation}"></h3>
    <div class="form-row">
        <input type="text" name="city" th:value="${contact.homeAddress.city}" required autocomplete="off" id="city"><label for="city" th:text="#{city}"> </label>
    </div>
    <div class="form-row">
        <input type="text" name="street" th:value="${contact.homeAddress.street}" required autocomplete="off" id="street"><label
            for="street" th:text="#{street}"></label>
    </div>
    <div class="form-row">
        <input type="text" name="house" th:value="${contact.homeAddress.house}" required autocomplete="off" id="house"><label for="house" th:text="#{house}"></label>
    </div>
    <div class="form-row">
        <input type="text" name="number" th:value="${contact.homeAddress.number}" required autocomplete="off" id="number"><label for="number" th:text="#{apartmentNumber}"></label>
    </div>
    <div class="form-row">
        <input type="tel" pattern="\+375-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}" th:name="telephone" th:value="${contact.telephone}" required autocomplete="off" id="telephone"><label for="telephone" th:text="#{telephone}"></label>
    </div>
    <div class="form-row">
        <input type="text" th:name="email" th:value="${contact.email}" required autocomplete="off" id="email"><label for="email" th:text="#{email}"></label>
    </div>
    <input type="submit" th:text="#{addProduct.save}">
</form>
</body>
</html>