<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/forms.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/navBar.css}">
</head>
<body>
<div th:insert="startPage :: bar"></div>
<form th:action="@{/saveDetails}" method="post" th:object="${address}" class="ui-form">
    <h3>Edit Information</h3>
    <div class="form-row">
        <input type="text" name="city" th:value="${contact.homeAddress.city}" required autocomplete="off" id="city"><label for="city">City </label>
    </div>
    <div class="form-row">
        <input type="text" name="street" th:value="${contact.homeAddress.street}" required autocomplete="off" id="street"><label
            for="street">Street </label>
    </div>
    <div class="form-row">
        <input type="text" name="house" th:value="${contact.homeAddress.house}" required autocomplete="off" id="house"><label for="house">House </label>
    </div>
    <div class="form-row">
        <input type="text" name="number" th:value="${contact.homeAddress.number}" required autocomplete="off" id="number"><label for="number">Apartment
        number </label>
    </div>
    <div class="form-row">
        <input type="text" th:name="telephone" th:value="${contact.telephone}" required autocomplete="off" id="telephone"><label for="telephone">Telephone </label>
    </div>
    <div class="form-row">
        <input type="text" th:name="email" th:value="${contact.email}" required autocomplete="off" id="email"><label for="email">Email </label>
    </div>
    <input type="submit" value="Save">
</form>
</body>
</html>