<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/navBar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/product.css}"/>
</head>
<body>
<div th:insert="startPage :: bar"></div>
<p>Welcome,
    <span th:text="${currentUser.name}"> </span>
    <span th:text="${currentUser.surname}">!</span>
</p>
<div th:insert="products :: products"></div>
</body>
</html>