<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/forms.css}">
</head>
<body>
<form th:action="@{/login}" method="post" class="ui-form">
    <h3 th:text="#{login}"></h3>
    <div class="form-row">
        <input type="text" name="user" id="username" required autocomplete="off"><label for="username" th:text="#{username}"></label>
    </div>

    <div class="form-row">
        <input type="password" name="pass" id="password" required autocomplete="off"><label
            for="password" th:text="#{Password}"></label>
    </div>
    <p><input type="submit" th:value="#{login}"></p>
</form>
</body>
</html>