<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Total amount of your order is:</p><span th:text="${order.totalAmount}"></span>
<div th:if="${contact==null}">
    <p>Please add a Contact data</p>
    <a th:href="@{/editDetails}">Edit Personal information</a>
</div>
<div th:unless="${contact==null}">
    <p th:text="${contact.homeAddress.city}"></p>
    <p th:text="${contact.homeAddress.street}"></p>
    <p th:text="${contact.homeAddress.house}"></p>
    <p th:text="${contact.homeAddress.number}"></p>
    <p th:text="${contact.email}"></p>
    <p th:text="${contact.telephone}"></p>
</div>
</body>
</html>