<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/information.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/navBar.css}">
</head>
<body>
<div th:insert="startPage :: bar"></div>
<p th:text="#{amount}"></p><span th:text="${order.totalAmount}"></span>
<div th:if="${contact==null}">
    <p th:text="#{pleaseAddCD}"></p>
    <a th:href="@{/editDetails}" th:text="#{editInformation}"></a>
</div>
<div class="item" th:unless="${contact==null}">
    <div th:if="${contact.anotherAddress==false}">
        <div class="heading">
            <h1 th:text="#{contactInformation}"></h1>
        </div>
        <p>City:<span th:text="${contact.homeAddress.city}"></span></p>
        <p>Street:<span th:text="${contact.homeAddress.street}"></span></p>
        <p>Number of house:<span th:text="${contact.homeAddress.house}"></span></p>
        <p>Number of flat:<span th:text="${contact.homeAddress.number}"></span></p>
        <p>Email:<span th:text="${contact.email}"></span></p>
        <p>Telephone:<span th:text="${contact.telephone}"></span></p>
    </div>
    <div th:if="${contact.anotherAddress==true}">
        <div class="heading">
            <h1 th:text="#{contactInformation}"></h1>
        </div>
        <p>City:<span th:text="${contact.otherAddress.city}"></span></p>
        <p>Street:<span th:text="${contact.otherAddress.street}"></span></p>
        <p>Number of house:<span th:text="${contact.otherAddress.house}"></span></p>
        <p>Number of flat:<span th:text="${contact.otherAddress.number}"></span></p>
        <p>Email:<span th:text="${contact.email}"></span></p>
        <p>Telephone:<span th:text="${contact.telephone}"></span></p>
    </div>
</div>
<div th:if="${contact.anotherAddress==false}">
    <div class="btn">
        <a th:href="@{/address/another}" th:text="#{anotherAddress}"></a>
        <a th:href="@{/ordering/confirmed}" th:text="#{this}"></a>
    </div>
</div>
<div th:if="${contact.anotherAddress==true}">
    <div class="btn">
        <a th:href="@{/address/home}" th:text="#{useHome}"></a>
        <a th:href="@{/ordering/confirmed}" th:text="#{this}"></a>
    </div>
</div>
</body>
</html>