<!DOCTYPE html>
<html th:lang="${lang}" th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/forms.css}">
</head>
<body>
<form th:action="@{/registration}" method="post" th:object="${user}" class="ui-form">
    <h3 th:text="#{Registration}"></h3>
    <div class="form-row">
        <input type="text" th:field="*{name}" id="name" required autocomplete="off"><label for="name" th:text="#{Name}"></label>
        <div class="error-form">
            <p th:each="err : ${#fields.errors('name')}" th:text="#{${err}}"></p>
        </div>
    </div>
    <div class="form-row">
        <input type="text" th:field="*{surname}" id="surname" required autocomplete="off"><label
            for="surname" th:text="#{Surname}"></label>
        <div class="error-form">
            <p th:each="err : ${#fields.errors('surname')}" th:text="#{${err}}"></p>
        </div>
    </div>
    <div class="form-row">
        <input type="text" th:field="*{login}" id="login" required><label for="login" th:text="#{Login}"></label>
        <div class="error-form">
            <p th:each="err : ${#fields.errors('login')}" th:text="#{${err}}"></p>
        </div>
    </div>
    <div class="form-row">
        <input type="password" th:field="*{password}" id="password" required autocomplete="off"><label for="password" th:text="#{Password}"></label>
        <div class="error-form">
            <p th:each="err : ${#fields.errors('password')}" th:text="#{${err}}"></p>
        </div>
    </div>
    <div class="form-row">
        <select id="role" th:field="*{role}">
            <option th:each="role : ${allRoles}"
                    th:text="${#strings.capitalize(#strings.toLowerCase(role))}"
                    th:value="${role}">
            </option>
        </select>
    </div>
    <input type="submit" id="send" th:value="#{Register}">
</form>
</body>
</html>