<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/forms.css}">
</head>
<body>
<form th:action="@{/registrationPI}" method="post" th:object="${info}" class="ui-form">
    <h3>Registration</h3>
    <div class="form-row">
        <input type="text" th:field="*{login}" id="login" required autocomplete="off"><label for="login">Login</label>
    </div>
    <div class="form-row">
        <input type="password" th:field="*{password}" id="password" required autocomplete="off"><label for="password">Password</label>
    </div>
    <input type="submit" id="send" value="Register">
</form>
</body>
</html>