<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{css/navBar.css}">
</head>
<body>

<div class="navbar" th:fragment="bar">
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/home}">Home</a>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Products
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a th:each="category: ${categories}" th:text="${category.name}"
               th:href="@{/category/{id}(id=${category.id})}"></a>
        </div>
    </div>
    <a href="#">About</a>
    <a href="#">FAQ</a>
    <div sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/admin}">Edit Categories</a>
    </div>
    <div sec:authorize="hasAuthority('SELLER')">
        <a th:href="@{/addProduct}">Add Product</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/info}">Personal info</a>
        <a href="javascript: document.logoutForm.submit()" class="right"> Logout</a>

        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out"/>
        </form>
    </div>
    <div sec:authorize="not isAuthenticated()">
        <a href="#" th:href="@{/login}" class="right">Log in</a>
        <a th:href="@{/registration}" class="right">Sign up</a>
    </div>

</div>

<div class="header">
    <h1>Online market</h1>
    <p>Quality is when the buyer returns - not the goods</p>
</div>


<div class="footer">
    Developed by Aleksei Smuraha, Halina Shukel, Valeriy Karpov,Yana Vaitovich, Makar Ivanov
</div>

</body>
</html>